

#root{
  background-color: #b8c1c2;
  padding-top: 20px;
  min-height: 98vh;
  /* min-height: 297vh; */
}
.App{
  margin: 0 auto;
  width: 80%;
}

a{
  color: black;
  text-decoration: none !important;
}

